<div class="w-[1150px] h-[600px] m-auto bg-white rounded-t-md">
  <div class="flex justify-between border-b-[1px] py-[15px] px-[30px]">
    <h1>Add person type</h1>
  </div>
  <form [formGroup]="personaTypeForm" class="p-[30px] overflow-auto h-[537px]">
    <div class="grid grid-cols-2 gap-x-[60px]">
      <div class="mb-[15px] text-[16px]">
        <label for="person_type_name" class="block pb-[10px] font-medium">
          person_type_name
        </label>

        <input
          type="text"
          id="person_type_name"
          formControlName="person_type_name"
          class="form-control bg-transparent border block w-full rounded-md focus:ring-main-purple focus:border-main-purple"
          required
        />
        @if(personaTypeForm.get('person_type_name')?.hasError('required') &&
        personaTypeForm.get('person_type_name')?.touched){
        <div class="form-error text-red-700">Complete el campo</div>
        }
      </div>
    </div>

    <button
      type="submit"
      (click)="onSubmit()"
      routerLink="/admin/persona-type"
      class="rounded-md border-[1px] p-1.5"
    >
      <span class="text-base">Guardar</span>
    </button>
  </form>
</div>
