.questions-container {
  width: auto;
  background-image: url("/assets/images/questions-bg-img.png");
  background-size: cover;
}

.pagination-list {
  max-width: 1010px;
  height: 80px;
  padding-top: 120px;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #56595a;
  font-family: "ruberoid-regular";
}

.pagination-line {
  width: 230px;
  height: 2px;
  background: #dce3ed;
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 80px;
  margin-block: 69px;
  margin-inline: auto;
}

.back-button,
.next-button {
  display: flex;
  width: 216px;
  padding: 13px 56px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.87);
  box-shadow: 0px 14px 20px 0px rgba(42, 51, 83, 0.8);
  color: #fff;
  text-align: center;
  font-family: "ruberoid-regular";
}

.back-button {
  background: linear-gradient(
    102deg,
    #b3b9cd 13.93%,
    rgba(20, 20, 28, 0.93) 82.33%
  );
  box-shadow: 0px 14px 20px 0px rgba(42, 51, 83, 0.8);
}

.next-button {
  background: var(
    --degrade,
    linear-gradient(102deg, #9da1ff 13.93%, #585ef3 85.84%)
  );
}

@media (max-width: 720px) {
  .pagination-list {
    height: 40px;
    padding-top: 60px;
    padding-bottom: 25px;
    margin-inline: 33px;
  }

  .questions-list {
    gap: 0;
  }
}
