<div class="start-view-container">
  <div class="start-view-model">
    <span class="aecobot">AECOBOT</span>
    <div class="title">DESCUBRE TU POTENCIAL, ¿ESTAS LISTO?</div>

    <div class="tips-form-container">
      <div class="tips-container">
        @for (item of tipList; track item.id) {
        <app-tip-container [tip]="item" />
        }
      </div>

      <form [formGroup]="userProfileForm" class="user-form-container">
        <div class="form-control">
          <label for="user_birthday">Fecha de Nacimiento</label>
          <input
            type="date"
            id="user_birthday"
            (change)="getZodiacSign()"
            formControlName="user_birthday"
            placeholder="Ingresar tu Fecha de nacimiento"
          />
        </div>

        <div class="form-control">
          <label for="user_name">Nombre </label>
          <input
            type="text"
            id="user_name"
            formControlName="user_name"
            placeholder="Ingresar tu Nombre "
          />
        </div>

        <div class="form-control">
          <label for="user_email">Correo Electronico</label>
          <input
            type="text"
            id="user_email"
            formControlName="user_email"
            placeholder="Ingresar tu Correo Electronico"
          />
        </div>

        <div class="form-control">
          <label for="user_gender">Género</label>
          <select id="user_gender" formControlName="user_gender">
            <option
              value=""
              disabled
              selected
              hidden
              class="option-user-gender"
            >
              Selecciona tu género
            </option>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
          </select>
        </div>
      </form>
    </div>

    <div class="sendbar">
      <div class="sendbar-text">
        <img src="../../../assets/images/brain.png" alt="Brain image" />
        <span>Empezar a jugar</span>
      </div>
      <div (click)="onSubmit()" class="send-icon-container">
        <app-send-icon class="max-lg:size-[17.7px]" />
      </div>
    </div>
  </div>
</div>
