<div class="flex flex-row gap-x-3 justify-center">
  <button routerLink="answer" class="rounded-md border-[1px] p-1.5">
    Ver tabla Answer
  </button>
  <button routerLink="element" class="rounded-md border-[1px] p-1.5">
    Ver tabla Element
  </button>
  <button routerLink="persona-type" class="rounded-md border-[1px] p-1.5">
    Ver tablas Persona Type
  </button>
  <button routerLink="question" class="rounded-md border-[1px] p-1.5">
    Ver tablas Question
  </button>
  <button routerLink="skill" class="rounded-md border-[1px] p-1.5">
    Ver tabla Skill
  </button>
  <button routerLink="user-answer" class="rounded-md border-[1px] p-1.5">
    Ver tabla User Answer
  </button>
  <button routerLink="user-profile" class="rounded-md border-[1px] p-1.5">
    Ver tabla User Profile
  </button>
  <button routerLink="user-result" class="rounded-md border-[1px] p-1.5">
    Ver tabla User Result
  </button>
  <button routerLink="zodiac" class="rounded-md border-[1px] p-1.5">
    Ver tabla Zodiac
  </button>
  <button
    routerLink="/"
    class="rounded-md border-[1px] p-1.5 bg-red-700 text-white"
  >
    Back to questions
  </button>
</div>

<router-outlet />
