@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ruberoid-bold";
  src: url("./assets/fonts/Ruberoid/Ruberoid-Bold.otf") format("opentype");
}

@font-face {
  font-family: "ruberoid-regular";
  src: url("./assets/fonts/Ruberoid/Ruberoid-Regular.otf") format("opentype");
}

@font-face {
  font-family: "plusjakartasans-regular";
  src: url("./assets/fonts/Plus-Jakarta/PlusJakartaSans-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "plusjakartasans-medium";
  src: url("./assets/fonts/Plus-Jakarta/PlusJakartaSans-Medium.ttf")
    format("truetype");
}

@font-face {
  font-family: "plusjakartasans-bold";
  src: url("./assets/fonts/Plus-Jakarta/PlusJakartaSans-Bold.ttf")
    format("truetype");
}

body {
  margin: 0;
}
